{# Rendered from ML Studio at export time — {{ generated_at }} #}

raw_data:
  type: pandas.CSVDataset
  filepath: data/01_raw/input.csv

{% for dataset in intermediate_datasets %}
{{ dataset }}:
  type: pandas.CSVDataset
  filepath: data/02_intermediate/{{ dataset }}.csv

{% endfor %}
model:
  type: pickle.PickleDataset
  filepath: data/06_models/model.pkl
