# Python Virtual Environments
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# IDE / Editor files
.vscode/
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Exports
exports/

# Environment variables
.env
